@import url("./assets/satoshi.css");
:root {
  --backdrop-filter: blur(20px);
  --font-color: white;
  --title-color: rgba(214, 214, 214);
  --main-bg-color: rgba(30, 30, 30, 0.4);
  --card-bg-color: rgba(87, 86, 86, 0.4);
  --border-radius: 20px;
  --border-color: #04B060;

  /* --sidebar-bg-color2: rgba(20, 30, 30, 0.4);
  --border-color-1: rgba(7, 8, 12, 0.705);
  --border-color-2: rgba(77, 77, 78, 0.781); */
}
body {
  all: unset;
  box-sizing: border-box;
  background-image: url("./assets/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Satoshi-Regular";
  color: var(--font-color);
  margin: 0;
}

h2 {
  font-size: clamp(0.5rem, 1.4rem, 4rem); 
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 1.1rem;
}
h4{
  font-size: 1rem;
  font-weight: 600;
}

.-title {
  text-transform: uppercase;
  color: var(--title-color);
  padding-left: 25px;
  flex-grow: 1;
}

.-justify {
  text-align: justify;
}

.--icon {
  padding: 10px;
  text-decoration: none;
  color: white;
  align-items: center;
  font-size: 1.4rem;
  outline: 2px solid var(--main-bg-color);
  border-radius: 50%;
  background-color: var(--button-inactive);
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}

.--icon:hover{
  outline-offset: 4px;
}

.fa-instagram:hover{
  background-image: 
  radial-gradient(circle at 30% 107%, 
  #fdf497 0%, #fdf497 5%,
  #fd5949 45%, #d6249f 60%,
  #285AEB 90%);
  outline-color: #a02d76;
}
 .fa-github:hover{
  background-color: #2ea44f;
  outline-color: #2ea44f;
 }

 .fa-linkedin-in:hover{
  background-color: #0077b5;
  outline-color: #0077b5;
 }

 .fa-envelope:hover{
  background-color: #6d4aff;
  outline-color: #6d4aff;
 }

 .main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
 }

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  height: 80vh;
  /* grid-template-columns: 25% 80%;
  grid-template-areas: "sidebar main"; */
  border-radius: var(--border-radius);
  background-color: var(--main-bg-color);
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
}

.profile {
  display: flex;
  flex-direction: column;
  /* grid-area: sidebar; */
  padding: 30px;
  flex: 1;
}

.profile__header {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  border-radius: 20px;
  padding: 20px;
}

.profile__pic {
  margin: 0 auto;
  border-radius: 100%;
  width: 150px;
  max-width: 95%;
  border: 2px solid var(--border-color);
}

.profile__name {
  text-align: center;
  margin-bottom: 10px;
}

.profile__icons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 15px;
  justify-content: space-evenly;
  gap: 10px;
}

.technologies {
  flex-grow: 1;
  background-color: var(--card-bg-color);
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
}

.technologies__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.technologies__langs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologies__langs > img {
  width: 100%;
}

.main-section {
  /* grid-area: main; */
  padding: 30px;
  flex-grow: 3;
  border-radius: 20px;
  flex: 4;
}

.about-me a {
  color: white;
  font-weight: 600;
}

.card__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2vw;
}
.card {
  outline: 1px solid var(--border-color-1);
  background-color: var(--card-bg-color);
  flex-grow: 1;
  border-radius: 16px;
  padding: 1vw 1vw 0 1vw;
  transition-property: background-color;
  transition-duration: .25s;
}
.card:hover{
  background-color: var(--main-bg-color);
}
.card__body{
  border-bottom: 1px solid var(--border-color-2);
}
.card__footer{
  display: flex;
  justify-content: end;
  gap: 1vw;
  padding: 1vw;
}
.card__button {
  padding: 5px;
  border-radius: 16px;
  border: none;
  width: 70px;
  color: white;
  background-color: #3a6df0;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .25s;
}
.card__button:hover{
  background-color: #0649f1;
}

 @media screen and (max-width: 600px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .card__footer{
    padding: 15px;
  }
  .card {
    background-color: var(--main-bg-color);
    flex-grow: 1;
    border-radius: 20px;
    margin-bottom: 10px;
    transition-property: background-color;
    transition-duration: .25s;
  }

}